{% extends "base.html" %}
{% block content %}

<!-- Main -->
<article id="main">
	<header>
	    <h2>The Founders</h2>
   		<p>Who Started This?</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<div class="column_bio">
				<h3>Michael R. Accvallo</h3>
				<h4>Founder</h4>
				<p>In 2012 my love for photography began, I was able to borrow a professional camera and shoot away.
					I was given multiple photography jobs from high school events to reunion parties.
					I started with candid photography then moved on to portraits and nature photography.
					I eventually purchased my own camera and began my journey.
				  I realized it was difficult to be an amateur photographer, it seemed like no matter how great your picture was no one cared.
				  It also seemed very difficult to find the right tools that I could afford as well as finding work.
			    I found many new talented photographers with the same issue and I wanted to change that.
					I founded Old Westfield Photography and its parent organization the Old Westfield Foundation in hopes that I would be able to help amateur
					photographers get a start by grouping together and proving ourselves under one name with all the best tools build 
					in house from scratch eliminating expensive startup costs.
					 It is my goal that Old Westfield Photography provides the start for every talented amateur photographer and provides inexpensive quality photography to the Long Island area.
				</p>
			</div>
			<div class="column_bio">
				<h3>Richard Sharrott</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>John</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>Lorraine</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
		</div>
	</section>
</article>
{% endblock %}
