{% extends "base.html" %}
{% block content %}

<!-- Main -->
<article id="main">
	<header>
	    <h2>The Founders</h2>
   		<p>Who Started This?</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<div class="column_bio">
				<h3>Michael R. Accvallo</h3>
				<h4>Founder</h4>
				<p>In 2012 my love for photography began, I was able to borrow a professional camera and shoot away.
					I was given multiple photography jobs from high school events to reunion parties.
					I started with candid photography then moved on to portraits and nature photography.
					I eventually purchased my own camera and began my journey.
				  I realized it was difficult to be an amateur photographer, it seemed like no matter how great your picture was no one cared.
				  It also seemed very difficult to find the right tools that I could afford as well as finding work.
			    I found many new talented photographers with the same issue and I wanted to change that.
					I founded Old Westfield Photography and its parent organization the Old Westfield Foundation in hopes that I would be able to help amateur
					photographers get a start by grouping together and proving ourselves under one name with all the best tools build 
					in house from scratch eliminating expensive startup costs.
					 It is my goal that Old Westfield Photography provides the start for every talented amateur photographer and provides inexpensive quality photography to the Long Island area.
				</p>
			</div>
			<div class="column_bio">
				<h3>Richard Sharrott</h3>
				<h4>Software Developer</h4>
				<p>Although I am not a photographer by trade, my desire to build a platform that would allow independent photographers 
					to build their business under a single brand led me to Old Westfield Photography. The opportunity to work on a cloud-based platform that centralized media storage and simplified payments has been extremely rewarding. I look forward
					to delivering an increasingly sophisticated, yet simple to use platform for our users.</p>
			</div>
			<div class="column_bio">
				<h3>John Stadelmann</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>LORRAIE Y.HARRITY</h3>
				<h4>Senior Photographer</h4>
				<p>Lorraine started to learn photography by herself since 15 years old and got her very first camera two years later. She took every chance to practice and consistently learned from others, which helped her to lay the foundation for her future. After graduating from SVA (School of Visual Arts), she was offered an internship position to work at Vogue, where she also began her career as a cover photographer. Her hard work and discipline paid off and she got many opportunities to contact with variety photography styles, which allowed her to enhance skills further and evolve her personal style generally. At Old Westfield Photography, Lorraine’s majority work is to photograph based on customers’ requirements and help other photographers who want to start their own businesses with the use of the Old Westfield platform.</p>
			</div>
		</div>
	</section>
</article>
{% endblock %}
