{% extends "base.html" %}
{% block content %}

<!-- Main -->
<article id="main">
	<header>
	    <h2>The Founders</h2>
   		<p>Who Started This?</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<div class="column_bio">
				<h3>Michael R. Accvallo</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>Richard Sharrott</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>John</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
			<div class="column_bio">
				<h3>Lorraine</h3>
				<h4>Founder</h4>
				<p>Bio</p>
			</div>
		</div>
	</section>
</article>
{% endblock %}
