{% extends "base.html" %}
{% block content %}
<!-- Main -->
<article id="main">
	<header>
		<h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Our&nbsp;Gallery</h2>
		<p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Our photographs</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<div class="Gallery align-center" align="center">
				<ul>

			<li>	<a href="{{ url_for('static', filename='images/Gallery/banner.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/banner.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/edit1IMG_3234.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/edit1IMG_3234.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/editIMG_3283.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/editIMG_3283.jpg', _external=True) }}" > </a></li>
		<li>	<a href="{{ url_for('static', filename='images/Gallery/editIMG_3360.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/editIMG_3360.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/gallery1.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/gallery1.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/gallery2.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/gallery2.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/gallery3.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/gallery3.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/IMG_4128_out.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4128_out.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/IMG_4191_out.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4191_out.jpg', _external=True) }}" > </a></li>
			<li>	<a href="{{ url_for('static', filename='images/Gallery/IMG_4252_out1.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4252_out1.jpg', _external=True) }}" > </a></li>
				<li><a href="{{ url_for('static', filename='images/Gallery/IMG_4255_out1.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4255_out1.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_4259_out.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4259_out.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_4720_out.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_4720_out.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_8430.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_8430.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_8538.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_8538.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_8781.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_8781.jpg', _external=True) }}" > </a></li>
		<li>		<a href="{{ url_for('static', filename='images/Gallery/IMG_8801.jpg', _external=True) }}" data-lightbox="Gallery"> <img src ="{{ url_for('static', filename='images/Gallery/IMG_8801.jpg', _external=True) }}" > </a></li>

			</ul>





			</div>




			<hr />
            <h3 style="text-align: center;">Contact Us</h3>
			<div align="center">
                <ul class="actions vertical" align="center">
                    <li><a href="/application" class="button special">Start Process</a></li>
                    <li><a href="/contact" class="button">Contact Us</a></li>
                </ul>
            </div>
		</div>
	</section>
</article>
{% endblock %}
