{% extends "base.html" %}
{% block content %}
<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h1>
			<img id="banner_img" class="wow fadeInUp" src="{{ url_for('static', filename='images/T3.png', _external=True) }}" width="100%" height="100%">

		</h1>

		<ul class="actions">
			<li></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major wow bounceInUp" data-wow-duration="2s">
			<h2>Old Westfield photography<br> A new beginning</h2>
			<p>Old Westfield Photography is dedicated to providing its clients affordable high-quality photography,<br>while also giving talented photographers the support they need to succeed.</p>
		</header>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
	<section class="spotlight">
		<div class="image">
			<img src="{{ url_for('static', filename='images/img1.jpg', _external=True) }}" alt="#" width="748" height="462" class="ccm-image-block img-responsive bID-200">

		</div>
		<div class="content wow fadeInRight" data-wow-duration="2s" data-wow-offset ="150">
			<h2>The Mission</h2>
			<p>Old Westfield Photography is a company dedicated to servicing clients and professionals. Our cloud-platform establishes independent photographers with a myriad of online tools to succeed in the competitive field of photography. Our group of affiliated photographers deliver affordable photography by using talented students and newly established photographers. We provide our photographers with a network of potential clients to work for to build their business as a freelance photographer without the hassle of bothersome administrative tasks. With minimal transaction fees on services provided our affiliated photographers no longer need to handle billing, scheduling, advertising, and other mundane tasks that keep them from doing what they do best.</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image">
			<img src="{{ url_for('static', filename='images/img2.jpg', _external=True) }}" alt="#" width="748" height="460" class="ccm-image-block img-responsive bID-201">

		</div>

		<div class="content wow fadeInLeft" data-wow-duration="2s" data-wow-offset="150">

			<h2>What we photograph</h2>

			<p>Through our cloud platform and extensive affiliated network of photographers Old Westfield Photography can deliver flexiblity and competitive prices to any perspective client. Regardless of the event feel confident in our ability to capture the moment. See our services page to get a full spectrum of our services and recent work.</p>
			<p align="center">
				<a href="/services" class="button">Services</a>
			</p>
		</div>
	</section>
	<section class="spotlight">
		<div class="image">
			<img src="{{ url_for('static', filename='images/img3.jpg', _external=True) }}" alt="Laptop Image" width="748" height="462" class="ccm-image-block img-responsive bID-199">
		</div>
		<div class="content wow fadeInRight" data-wow-duration="2s" data-wow-offset="150">
			<h2>our tools</h2>
			<p>We pride ourselves on our industry leading tools. Our photographers have their own customized online presence where they can showcase their work or blog while protecting their intellectual property. With an easy to set up personal online store space Old Westfield Photography streamlines the process to sell creative works to perspective clients. No modern cloud platform would be complete without personal cloud storage for keeping backups of all imported creative works.</p>
		</div>
	</section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3">
	<div class="inner">
		<header class="major wow fadeIn" style="text-align: center;">
			<h2>Let's Break It Down</h2>
		</header>
		<ul class="features wow fadeInUp" data-wow-duration="2s">
			<li id="goals">
				<h3 style="text-align: center;">Our Goals</h3>
				<p style="text-align: center;">Afford our clients top tier creative talent while providing first-class support to our affiliated photographers.</p>
            </li>
            <li id="photographers">
				<h3 style="text-align: center;">Our Team</h3>
				<p style="text-align: center;">We're what makes Old Westfield Photography great.</p>
            </li>
             <li data-id="0" id="prices">
	 			<h3 style="text-align: center;">Our Prices</h3>
				<p style="text-align: center;">There is no need to compromise quality and cost with Old Westfield Photography.</p>
            </li>
             <li data-id="0" id="tools">
	 			<h3 style="text-align: center;">Our Tools</h3>
				<p style="text-align: center;">Combined with our cloud platform we provide our photographers industry standard software to deliver clients the highest quality media possible.</p>
            </li>
		</ul>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Join US</h2>
			<p>Are you interested in becoming an Old Westfield Photographer?</p>
		</header>
		<ul class="actions vertical" >
			<li><a href="/sign_up" class="button fit special">Start Process</a></li>
			<li><a href="/contact" class="button fit">Client Signup</a></li>
		</ul>
	</div>
</section>
{% endblock %}
