{% extends "base.html" %}
{% block content %}
<!-- Main -->

<article id="main">
	<header >
		<h2 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">Our&nbsp;Services</h2>
		<p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">What we photograph</p>
	</header>
	<section class="wrapper style5 wow slideInUp" data-wow-duration="2s">
		<div class="inner wow fadeIn" data-wow-duration="3s" data-wow-delay="1.5s">
            <div class="column_services">
                <h3>Professional Offerings</h3>
                <ul>
                    <li>Personal Online Presence</li>
                    <li>Personal Online Storefront</li>
                    <li>Unlimited Cloud Storage</li>
                    <li>Periodic Backups</li>
                    <li>Streamlined Billing</li>
                    <li>Cloud Scheduler</li>
                    <li>Client Network</li>
                    <li>Old Westfield Photography Branding</li>
                    <li>Access to Adobe Products</li>
                    <li>Customer Service</li>
                    <li>Tax Support</li>
                    <li>Human Resources</li>
                    <li>Frequent Updates</li>
                    <li>No Monthly Subscriptions</li>
                    <li>Consistent Billing Rate</li>
                    <li>Co-worker Real-Time Chat</li>
                </ul>
            </div>
            <div class="column_services">
                <h3>Client Services</h3>
                <ul>
                    <li>Weddings</li>
                    <li>Engagement Parties</li>
                    <li>Birthday Parties</li>
                    <li>Reunions</li>
                    <li>Sporting Events</li>
                    <li>High School Events</li>
                    <li>College Graduations</li>
                    <li>Portraits</li>
                    <li>Headshots</li>
                    <li>Candid Photography</li>
                    <li>Portfolios</li>
                    <li>Commercial Store/Inventory</li>
                    <li>Website Imagery</li>
                    <li>Album Covers</li>
                    <li>Bands/Music Artists</li>
                    <li>General Photo Shoots</li>
                </ul>
            </div>
			<hr />
            <h3 style="text-align: center;">Contact Us</h3>
			<div align="center">
                <ul class="actions vertical" align="center">
                    <li><a href="/sign_up" class="button fit special" style="width: 234px; margin: 10px auto;">Start Process</a></li>
                    <li><a href="/contact" class="button fit" style="width: 234px; margin: 0 auto;">Client Signup</a></li>
                </ul>
            </div>
		</div>
	</section>
</article>

{% endblock %}
