{% extends "base.html" %}
{% block content %}
<!-- Main -->
<article id="main">
	<header>
		<h2>Our&nbsp;Services</h2>
		<p>What we photograph</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
            <p style="text-align: center;">Below is a list of what we photograph, it is limited only by our minds, so anything you can think of feel free to add it to our list of services. &nbsp;List subject to change.</p>
            <ul>
                <li>Sports</li>
                <li>Birthdays</li>
                <li>Engagement Parties</li>
                <li>Reunions</li>
                <li>High School Events</li>
                <li>College Events</li>
                <li>Portraits</li>
                <li>Candid Photography</li>
                <li>Photos For a Portfolio</li>
                <li>Album Covers</li>
                <li>General Photo Shoots</li>
                <li>Photographs of Store/Inventory</li>
                <li>Photographs of Bands/Music Artists</li>
                <li>Pictures for a Website</li>
            </ul>
			<hr />
            <h3 style="text-align: center;">Contact Us</h3>
			<div align="center">
                <ul class="actions vertical" align="center">
                    <li><a href="/application" class="button special">Start Process</a></li>
                    <li><a href="/contact" class="button">Contact Us</a></li>
                </ul>
            </div>
		</div>
	</section>
</article>
{% endblock %}
